<div class="sixty_he fade_in">
    <div class="tripPage">
        <div class="gridCol fade_in gridList">
            <span class="gridRow2 h2"><b>Careers</b></span>
            <div class="gridRow3 innerList">
                <span *ngFor="let care of careers" (click)="revealCareer(care)" class="clickable alCenter">
                    {{care.name}}
	            </span>
            </div>
        </div>
        <div class="gridCol2 fade_in gridList" *ngIf="curCar && curCar.specializations">
            <!-- <div class="mobOnly"><h3>{{"{{curCar.name}}"}}</h3><button type="button" ng-click="mCont.BackToLeftCar()" class="closeButton">Back</button></div> -->
            <span class="gridRow2 h2"><b>Specializations</b></span>
            <div class="gridRow3 innerList">
                <span *ngFor="let spec of curCar.specializations" (click)="revealSpecialization(spec)" class="clickable alCenter">
                    {{spec.name}}
                </span>
            </div>
        </div>
        <div class="gridCol3 right_col gridList fade_in" *ngIf="curCar">
            <!-- <div class="mobOnly"><button type="button" ng-click="mCont.BackToMidCar()" class="closeButton">Back</button></div> -->
            <div class="gridRow2">
                <span class="h2"><b>{{curCar.name}}</b></span>
                <p>Skill Proficiencies: {{curCar.skill_slots}}</p>
                <div class="skillDiv">
                    <span *ngFor="let skill of curCar.skills" class="skill">
                        <i>{{skill.name}}</i>
                    </span>
                </div>
            </div>
            <div class="fade_in gridRow3 specialGrid" *ngIf="curSpecial">
                <span class="h2"><b>{{curSpecial.name}}</b></span>
                <p>Skill Proficiencies: {{curSpecial.skill_slots}}</p>
                <div class="skillDiv">
                    <span *ngFor="let skill of curSpecial.skills" class="skill">
                        <i>{{skill.name}}</i>
                    </span>
                </div>
                <span class="h2"><b>Talent Tree</b></span>
                <div class="specialWrap" *ngIf="curSpecial.talents != null">
                    <div class="talent sw_back gridCol gridRow" (click)="revealTalent(curSpecial.talents[0])">{{curSpecial.talents[0].name}}</div>
                    <div class="conn gridCol2 gridRow"><img src="/assets/img/connector.png" *ngIf="curSpecial.talents[0].right" alt="Conn"/></div>
                    <div class="talent sw_back gridCol3 gridRow" (click)="revealTalent(curSpecial.talents[1])">{{curSpecial.talents[1].name}}</div>
                    <div class="conn gridCol4 gridRow"><img src="/assets/img/connector.png" *ngIf="curSpecial.talents[1].right" alt="Conn"/></div>
                    <div class="talent sw_back gridCol5 gridRow" (click)="revealTalent(curSpecial.talents[2])">{{curSpecial.talents[2].name}}</div>
                    <div class="conn gridCol6 gridRow"><img src="/assets/img/connector.png" *ngIf="curSpecial.talents[2].right" alt="Conn"/></div>
                    <div class="talent sw_back gridCol7 gridRow" (click)="revealTalent(curSpecial.talents[3])">{{curSpecial.talents[3].name}}</div>
                    <div class="vConn gridCol gridRow2"><img src="/assets/img/connector.png" *ngIf="curSpecial.talents[0].down" alt="Conn"/></div>
                    <div class="vConn gridCol3 gridRow2"><img src="/assets/img/connector.png" *ngIf="curSpecial.talents[1].down" alt="Conn"/></div>
                    <div class="vConn gridCol5 gridRow2"><img src="/assets/img/connector.png" *ngIf="curSpecial.talents[2].down" alt="Conn"/></div>
                    <div class="vConn gridCol7 gridRow2"><img src="/assets/img/connector.png" *ngIf="curSpecial.talents[3].down" alt="Conn"/></div>
                    <div class="talent sw_back gridCol gridRow3" (click)="revealTalent(curSpecial.talents[4])">{{curSpecial.talents[4].name}}</div>
                    <div class="conn gridCol2 gridRow3"><img src="/assets/img/connector.png" *ngIf="curSpecial.talents[4].right" alt="Conn"/></div>
                    <div class="talent sw_back gridCol3 gridRow3" (click)="revealTalent(curSpecial.talents[5])">{{curSpecial.talents[5].name}}</div>
                    <div class="conn gridCol4 gridRow3"><img src="/assets/img/connector.png" *ngIf="curSpecial.talents[5].right" alt="Conn"/></div>
                    <div class="talent sw_back gridCol5 gridRow3" (click)="revealTalent(curSpecial.talents[6])">{{curSpecial.talents[6].name}}</div>
                    <div class="conn gridCol6 gridRow3"><img src="/assets/img/connector.png" *ngIf="curSpecial.talents[6].right" alt="Conn"/></div>
                    <div class="talent sw_back gridCol7 gridRow3" (click)="revealTalent(curSpecial.talents[7])">{{curSpecial.talents[7].name}}</div>
                    <div class="vConn gridCol gridRow4"><img src="/assets/img/connector.png" *ngIf="curSpecial.talents[4].down" alt="Conn"/></div>
                    <div class="vConn gridCol3 gridRow4"><img src="/assets/img/connector.png" *ngIf="curSpecial.talents[5].down" alt="Conn"/></div>
                    <div class="vConn gridCol5 gridRow4"><img src="/assets/img/connector.png" *ngIf="curSpecial.talents[6].down" alt="Conn"/></div>
                    <div class="vConn gridCol7 gridRow4"><img src="/assets/img/connector.png" *ngIf="curSpecial.talents[7].down" alt="Conn"/></div>
                    <div class="talent sw_back gridCol gridRow5" (click)="revealTalent(curSpecial.talents[8])">{{curSpecial.talents[8].name}}</div>
                    <div class="conn gridCol2 gridRow5"><img src="/assets/img/connector.png" *ngIf="curSpecial.talents[8].right" alt="Conn"/></div>
                    <div class="talent sw_back gridCol3 gridRow5" (click)="revealTalent(curSpecial.talents[9])">{{curSpecial.talents[9].name}}</div>
                    <div class="conn gridCol4 gridRow5"><img src="/assets/img/connector.png" *ngIf="curSpecial.talents[9].right" alt="Conn"/></div>
                    <div class="talent sw_back gridCol5 gridRow5" (click)="revealTalent(curSpecial.talents[10])">{{curSpecial.talents[10].name}}</div>
                    <div class="conn gridCol6 gridRow5"><img src="/assets/img/connector.png" *ngIf="curSpecial.talents[10].right" alt="Conn"/></div>
                    <div class="talent sw_back gridCol7 gridRow5" (click)="revealTalent(curSpecial.talents[11])">{{curSpecial.talents[11].name}}</div>
                    <div class="vConn gridCol gridRow6"><img src="/assets/img/connector.png" *ngIf="curSpecial.talents[8].down" alt="Conn"/></div>
                    <div class="vConn gridCol3 gridRow6"><img src="/assets/img/connector.png" *ngIf="curSpecial.talents[9].down" alt="Conn"/></div>
                    <div class="vConn gridCol5 gridRow6"><img src="/assets/img/connector.png" *ngIf="curSpecial.talents[10].down" alt="Conn"/></div>
                    <div class="vConn gridCol7 gridRow6"><img src="/assets/img/connector.png" *ngIf="curSpecial.talents[11].down" alt="Conn"/></div>
                    <div class="talent sw_back gridCol gridRow7" (click)="revealTalent(curSpecial.talents[12])">{{curSpecial.talents[12].name}}</div>
                    <div class="conn gridCol2 gridRow7"><img src="/assets/img/connector.png" *ngIf="curSpecial.talents[12].right" alt="Conn"/></div>
                    <div class="talent sw_back gridCol3 gridRow7" (click)="revealTalent(curSpecial.talents[13])">{{curSpecial.talents[13].name}}</div>
                    <div class="conn gridCol4 gridRow7"><img src="/assets/img/connector.png" *ngIf="curSpecial.talents[13].right" alt="Conn"/></div>
                    <div class="talent sw_back gridCol5 gridRow7" (click)="revealTalent(curSpecial.talents[14])">{{curSpecial.talents[14].name}}</div>
                    <div class="conn gridCol6 gridRow7"><img src="/assets/img/connector.png" *ngIf="curSpecial.talents[14].right" alt="Conn"/></div>
                    <div class="talent sw_back gridCol7 gridRow7" (click)="revealTalent(curSpecial.talents[15])">{{curSpecial.talents[15].name}}</div>
                    <div class="vConn gridCol gridRow8"><img src="/assets/img/connector.png" *ngIf="curSpecial.talents[12].down" alt="Conn"/></div>
                    <div class="vConn gridCol3 gridRow8"><img src="/assets/img/connector.png" *ngIf="curSpecial.talents[13].down" alt="Conn"/></div>
                    <div class="vConn gridCol5 gridRow8"><img src="/assets/img/connector.png" *ngIf="curSpecial.talents[14].down" alt="Conn"/></div>
                    <div class="vConn gridCol7 gridRow8"><img src="/assets/img/connector.png" *ngIf="curSpecial.talents[15].down" alt="Conn"/></div>
                    <div class="talent sw_back gridCol gridRow9" (click)="revealTalent(curSpecial.talents[16])">{{curSpecial.talents[16].name}}</div>
                    <div class="conn gridCol2 gridRow9"><img src="/assets/img/connector.png" *ngIf="curSpecial.talents[16].right" alt="Conn"/></div>
                    <div class="talent sw_back gridCol3 gridRow9" (click)="revealTalent(curSpecial.talents[17])">{{curSpecial.talents[17].name}}</div>
                    <div class="conn gridCol4 gridRow9"><img src="/assets/img/connector.png" *ngIf="curSpecial.talents[17].right" alt="Conn"/></div>
                    <div class="talent sw_back gridCol5 gridRow9" (click)="revealTalent(curSpecial.talents[18])">{{curSpecial.talents[18].name}}</div>
                    <div class="conn gridCol6 gridRow9"><img src="/assets/img/connector.png" *ngIf="curSpecial.talents[18].right" alt="Conn"/></div>
                    <div class="talent sw_back gridCol7 gridRow9" (click)="revealTalent(curSpecial.talents[19])">{{curSpecial.talents[19].name}}</div>
                    <div class="sw_back_s talentPaOut fade_in" *ngIf="curTale">
                        <div class="talentPanel">
                            <button type="button" (click)="closeTalent()" class="closeButton">X</button>
                            <div class="gridRow gridCol h2">{{curTale.name}}</div>
                            <div class="gridRow2 gridCol">Type: {{curTale.type}}</div>
                            <div class="gridRow3 gridCol">Ranked:
                                <span style="float: none;" *ngIf="curTale.ranked">Yes</span>
                                <span style="float: none;" *ngIf="!curTale.ranked">No</span>
                            </div>
                            <div [innerHtml]="curTale.description" class="taleDesc gridRow4 tp_spanCol"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
