.closeButton {
	font-size: 2vmin;
	grid-row: 1;
	grid-column: 2;
	justify-self: right;
	margin: 0 1.5vw 0 0;
}

.talentPanel {
	overflow-y: auto;
	display: grid;
	grid-template-columns: 1fr 10vw;
	grid-row-gap: 1vh;
	padding: 3vh 2vw 3vh 2vw;
	max-height: 95%;
}

.taleDesc {
	white-space: pre-line;
	font-size: 2.25vmin;
}

.tp_spanCol {
	grid-column: 1 / 3;
}
