<div class="mainDiv">
    <div class="page sw_back">
        <div class="menu_wrapper">
            <div class="tab_header sw_back menu_tab menu_index" (click)="toggleMenu()" (mouseenter)="darkArrow()" (mouseleave)="lightArrow()">
                <img src="/static/img/{{menuArrow}}" alt="^" [@rotateLeft]="menuStatus ? 'left' : 'vertical'" class="menu_arrow" />
                <img src="/static/img/{{menuArrow}}" alt="^" [ngClass]="{hide_m: menuStatus}" class="menu_arrow menu_arrow_r fade_in" />
            </div>
            <div class="tab_header sw_back_s menu_index" [@openClose]="menuStatus ? 'true' : 'false'">
                <span class="tab fade_in" routerLink="/species" routerLinkActive="hide" [routerLinkActiveOptions]="{exact: true}" [ngClass]="{hide_m: !menuStatus}" (click)="toggleMenu()">Species</span>
                <span class="tab fade_in" routerLink="/careers" routerLinkActive="hide" [routerLinkActiveOptions]="{exact: true}" [ngClass]="{hide_m: !menuStatus}" (click)="toggleMenu()">Careers</span>
                <span class="tab fade_in" routerLink="/market" routerLinkActive="hide" [routerLinkActiveOptions]="{exact: true}" [ngClass]="{hide_m: !menuStatus}" (click)="toggleMenu()">Market</span>
                <!-- <span class="tab fade_in" routerLink="/characters" routerLinkActive="hide" [routerLinkActiveOptions]="{exact: true}" [ngClass]="{hide_m: !menuStatus}" (click)="toggleMenu()">Characters</span> -->
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>
