<div class="mainDiv">
    <div class="tab_header sw_back" id="tabHeader">
        <span class="tab" routerLink="/species">Species</span>
        <span class="tab" ng-click="mCont.LoadTab(2)">Careers</span>
        <span class="tab" ng-click="mCont.LoadTab(3)">Weapons</span>
        <span class="tab" ng-click="mCont.LoadTab(4)">Armor</span>
    </div>
    <div class="page sw_back">
        <router-outlet></router-outlet>
        <!-- {{template "species.tpl"}}
        {{template "careers.tpl"}}
        {{template "weapons.tpl"}}
        {{template "armor.tpl"}} -->
    </div>
</div>
