.armorBase {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-around;
}

.armorTable {
    display: grid;
    grid-template-columns: 70% 1fr;
    align-items: center;
}

.armorMainTable {
    grid-template-rows: 5vh 5vh 1fr;
}

.armTabBase {
    margin-top: 2vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    flex-grow: 1;
    height: min-content;
    max-height: 75vh;
}

.armorSpan {
    grid-column-start: 1;
    grid-column-end: 3;
}

.th_sub_name {
    font-size: 1.25em;
}

.th_head_mod {
    margin-left: 1vw;
    margin-right: 1vw;
}

.pads {
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.margs {
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}

.alignLeft {
    text-align: left;
    margin-left: 2vw;
}

.det_back {
    padding: 1vh 1.5vw;
    display: grid;
    grid-template-rows: 5vh repeat(7, 3vh) 1fr;
    grid-row-gap: 1vh;
}

.det_head {
    display: grid;
    grid-template-columns: 95% 1fr;
    grid-column-gap: 1vw;
    align-content: center;
}

.det_head > button {
    margin: 0;
}

.det_row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    font-size: 1.5em;
}

.det_label {
    margin-right: 1vw;
    flex-basis: 15vw;
}

.itemDesc {
    padding: 1vh 1vw;
    font-size: 1.4em;
}
