.tabPag_inner {
	font-size: 2.1vmin;
	margin-top: 2vh;
    display: grid;
    grid-template-rows: 10vh auto;
	grid-template-columns: 1fr;
	height: 100%;
}

.headTable {
    grid-row: 1;
	grid-column: 1;
    display: grid;
    grid-template-rows: 5vh 5vh;
    grid-template-columns: 30% repeat(6, 3%) repeat(3, 1fr);
	align-items: center;
}

.headerColor {
	color: #293c56;
}

.follTable {
    grid-row: 2;
	grid-column: 1;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
	overflow-y: auto;
}

.th_head {
	background-image: url("/assets/img/light_underline_high.png");
	background-size: 100% 100%;
	align-self: stretch;
}

.th_row {
    display: flex;
    height: 5vh;
    align-items: center;
}

.th_c_span {
	grid-column-start: 1;
    grid-column-end: 12;
}

.th_r_2 {
    grid-row-start: 2;
    grid-row-end: 3;
}

.sortable:hover {
    cursor: row-resize;
}

.th_item {
    display: grid;
    grid-template-columns: 30% repeat(6, 3%) repeat(3, 1fr);
    background-image: url("/assets/img/light_underline.png");
	background-size: 105% 20%;
    background-repeat: no-repeat;
	background-position: bottom center;
}

.th_item:hover {
	cursor: pointer;
	background-image: url("/assets/img/light_underline_high.png");
	background-size: 100% 100%;
	color: #293c56;
	font-weight: 200;
}

.th_name {
	font-size: 2.5vmin;
}

.th_subTab_name {
    font-size: 2vmin;
}

.closeButton {
	font-size: 2vmin;
	grid-row: 1;
	grid-column: 1;
	justify-self: right;
	align-self: start;
	margin: 3vh 2vw 0 0;
}

img.detail_img {
	width: auto;
	max-width: 95%;
	height: auto;
	max-height: 83vh;
	grid-row: 1;
	grid-column: 1;
	justify-self: center;
	align-self: center;
}

.characterBlock {
	font-size: 1.3em;
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: 3vw auto 3vw;
	align-items: center;
	grid-row-gap: 1vh;
}

.charCharGrid {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 1fr;
}

.tp_spanCol {
	grid-column-start: 1;
	grid-column-end: 3;
}

.tp_spanRow {
	height: 100%;
	grid-row-start: 1;
	grid-row-end: 7;
}

.tp_midRow {
	padding-left: 3vw;
	font-size: 1.35em;
	display: flex;
	flex-flow: row wrap;
}

.tp_midInner {
	margin-right: 1vmin;
	padding: 0 1vw 0 1vw;
}

.tp_specAbil > li {
	width: 90%;
	padding: 2vh 0 0 3vw;
}

.attrib_desc {
	font-size: 3vmin;
	word-wrap: break-word;
}

.alStretch {
	justify-self: stretch;
	align-self: stretch;
	text-align: justify;
}

.speciesMain {
	grid-row: 1 / 3;
	grid-column: 1;
	z-index: 150;
	height: 96vh;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	justify-items: center;
	align-items: center;
}

.speciesDet {
	height: 95%;
	width: 95%;
	overflow-y: auto;
	grid-column: 1;
	grid-row: 1;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 10vh 10vh repeat(3, auto) 1fr;
	grid-row-gap: 1vh;
}

.speciesImg {
	height: 100%;
	width: 100%;
	grid-column: 2;
	grid-row: 1;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
}

.sw_back_op {
	background-image: url("/assets/img/sw_back_op.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
