<div class="sixty_he fade_in">
    <div class="tabPag_inner">
        <div class="headTable headerColor sw_back">
            <span class="th_head gridRow th_c_span"></span>
            <span class="alCenter th_name gridRow th_c_span">Species</span>
            <span class="th_head gridRow2 th_c_span"></span>
            <span class="gridCol gridRow2 th_subTab_name alCenter sortable" (click)="sortSpecies('name')">Name</span>
            <span class="gridCol2 gridRow2 th_subTab_name alCenter sortable" (click)="sortSpecies('brawn')">Br</span>
            <span class="gridCol3 gridRow2 th_subTab_name alCenter sortable" (click)="sortSpecies('agility')">Ag</span>
            <span class="gridCol4 gridRow2 th_subTab_name alCenter sortable" (click)="sortSpecies('intellect')">In</span>
            <span class="gridCol5 gridRow2 th_subTab_name alCenter sortable" (click)="sortSpecies('cunning')">Cu</span>
            <span class="gridCol6 gridRow2 th_subTab_name alCenter sortable" (click)="sortSpecies('willpower')">Wi</span>
            <span class="gridCol7 gridRow2 th_subTab_name alCenter sortable" (click)="sortSpecies('presence')">Pr</span>
            <span class="gridCol8 gridRow2 th_subTab_name alCenter sortable" (click)="sortSpecies('wound_threshold')">Wound Threshold</span>
            <span class="gridCol9 gridRow2 th_subTab_name alCenter sortable" (click)="sortSpecies('strain_threshold')">Strain Threshold</span>
            <span class="gridCol10 gridRow2 th_subTab_name alCenter sortable" (click)="sortSpecies('starting_xp')">Starting XP</span>
        </div>
        <div class="follTable">
            <div class="th_item" *ngFor="let spec of species" (click)="revealSpecies(spec)">
                <span class="alCenter">{{spec.name}}</span>
                <span class="alCenter">{{spec.brawn}}</span>
                <span class="alCenter">{{spec.agility}}</span>
                <span class="alCenter">{{spec.intellect}}</span>
                <span class="alCenter">{{spec.cunning}}</span>
                <span class="alCenter">{{spec.willpower}}</span>
                <span class="alCenter">{{spec.presence}}</span>
                <span class="alCenter">{{spec.wound_threshold}}</span>
                <span class="alCenter">{{spec.strain_threshold}}</span>
                <span class="alCenter">{{spec.starting_xp}}</span>
            </div>
        </div>
        <div *ngIf="curSpec" class="speciesMain sw_back_s fade_in">
            <div class="speciesImg speciesInner sw_back_s">
                <img class="detail_img" src="/assets/img/species/{{curSpec.img_name}}" alt="" />
                <button type="button" (click)="closePanel()" class="closeButton">X</button>
            </div>
            <div class="speciesDet speciesInner">
                <span class="th_head gridRow gridCol"></span>
                <span class="gridRow gridCol alCenter th_name headerColor">{{curSpec.name}}</span>
                <div class="characterBlock gridCol gridRow2 alCenter">
                    <span></span>
                    <span><b>Br</b></span>
                    <span><b>Ag</b></span>
                    <span><b>In</b></span>
                    <span><b>Cu</b></span>
                    <span><b>Wi</b></span>
                    <span><b>Pr</b></span>
                    <span></span>
                    <span></span>
                    <span>{{curSpec.brawn}}</span>
                    <span>{{curSpec.agility}}</span>
                    <span>{{curSpec.intellect}}</span>
                    <span>{{curSpec.cunning}}</span>
                    <span>{{curSpec.willpower}}</span>
                    <span>{{curSpec.presence}}</span>
                    <span></span>
                </div>
                <div class="gridCol gridRow3 tp_midRow">
                    <span><b>Wound Threshold:</b> {{curSpec.wound_threshold}} + Brawn</span>
                </div>
                <div class="gridCol gridRow4 tp_midRow">
                    <span><b>Strain Threshold:</b> {{curSpec.strain_threshold}} + Willpower</span>
                </div>
                <div class="gridCol gridRow5 tp_midRow">
                    <b>Starting XP:</b> {{curSpec.starting_xp}}
                </div>
                <div class="gridRow6 alStretch">
                    <ul class="tp_specAbil">
                        <li *ngFor="let attrib of curSpec.attributes">
                            <span class="taleDesc">{{attrib.description}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
